<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Novo Motorista</title>
</head>
<body>
<h1>Novo Motorista</h1>

<p th:if="${erro}" th:text="${erro}" style="color:red;">Erro aqui</p>

<form th:action="@{/motoristas}" th:object="${motorista}" method="post">
    <div>
        <label>Nome completo</label>
        <input type="text" th:field="*{nomeCompleto}" />
    </div>

    <div>
        <label>RG (00.000-000)</label>
        <input type="text" th:field="*{rg}" />
    </div>

    <button type="submit">Salvar</button>
</form>

<a th:href="@{/motoristas}">Voltar</a>
</body>
</html>
