name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Run tests
        run: ./mvnw -B test -Dspring.profiles.active=test

      - name: Package
        run: ./mvnw -B -DskipTests package
